<%@title = "About"%>

<div style="margin:2%;">

  <h2 class="aboutHeader">New features</h2>

  <ul>
    <li class="bulletlist">New groups & categories (synchronization with VEST registry - FAO-)</li>
    <li class="bulletlist">New mappings management (enable interportal & external mappings)</li>
    <li class="bulletlist">New scoring methods for the AgroPortal Annotator</li>
    <li class="bulletlist">Working to support specific ontology format (SKOS, trait dictionary)</li>
    <li class="bulletlist">New metadata model & automatic parsing of 300+ properties from common semantic web languages</li>
  </ul>
  <br>


  <h2 class="aboutHeader">Partners</h2>
  <p>The National Center For Biomedical Ontology (NCBO)</p>

  <h2 class="aboutHeader">Team</h2>
  To contact us: firstname.lastname@lirmm.fr
  <ul class="bulletlist">
    <li class="bulletlist"><b>Clément Jonquet</b>, researcher at LIRMM (Univ. of Montpellier, France), main investigator of the AgroPortal project</li>
    <li class="bulletlist"><b>Vincent Emonet</b>, engineer at LIRMM (Univ. of Montpellier, France)</li>
  </ul>
</div>