<%@title = "About"%>

<style type="text/css">
  /* style h2s on this page better */
  h2 {
    font-size: 150% !important;
    padding-bottom: .17em;
    border-bottom: 1px solid #AAAAAA;
    font-weight: normal !important;
    width: auto !important;
  }
</style>

<div style="margin:2%;">

  <h2>Le projet SIFR</h2>
  <p>
    L'objectif du <a href="http://www.lirmm.fr/sifr/">projet SIFR</a> est de mettre en place un portail d'ontologies biomédicales francophones permettant l'annotation de textes.
  </p>
  <br>

  <h2>Nouvelles fonctionnalités</h2>
  <p>
    Voir les <a href="https://github.com/sifrproject/bioportal_web_ui/wiki/Release-notes">release notes</a>
  </p>

  <h2>Publication</h2>
  <p>
    Clement Jonquet, Amina Annane, Khedidja Bouarech, Vincent Emonet & Soumia Melzi.
    <a href="http://www.lirmm.fr/~jonquet/publications/documents/Article_JFIM2016_SIFR_Jonquet.pdf" target="blank">
      SIFR BioPortal : Un portail ouvert et générique d’ontologies et de terminologies biomédicales françaises au service de l’annotation sémantique</a>,
    In 16th Journées Francophones d'Informatique Médicale, JFIM'16. Genève, Suisse, July 2016. pp. 16.
  </p>

  <h2>Les partenaires</h2>
  <p>The National Center For Biomedical Ontology (<a href="https://www.bioontology.org">NCBO</a>)</p>

  <h2>L'équipe</h2>
  Nous contacter: <i>prénom.nom@lirmm.fr</i>
  <ul class="bulletlist">
    <li class="bulletlist"><b>Clément Jonquet</b>, researcher at LIRMM (Univ. of Montpellier, France), main investigator of the AgroPortal project</li>
    <li class="bulletlist"><b>Vincent Emonet</b>, engineer at LIRMM (Univ. of Montpellier, France)</li>
  </ul>
</div>