<%@title = "Help and About"%>

<div style="margin:20px;">
    <span style="font-size:15px;font-weight:bold;color:green;"><%=flash[:notice] %></span>
    <div style="float:left;width:60%;">
        <h1>Welcome</h1>
        <p>
            Welcome to the National Center for Biomedical Ontology’s BioPortal. BioPortal is a Web-based application for accessing and sharing biomedical ontologies.
        </p>
        
        <h1>Getting Started</h1>
        <p>
            BioPortal allows users to browse, upload, download, search, comment on, and create mappings for ontologies.
        </p>
        
        <h1>Browse The Library</h1>
        <p>
            Users can browse and explore individual ontologies by navigating either a tree structure or an animated graphical view. Users can also view mappings and ontology metadata, and download ontologies. 
        </p>
        <p>
            Additionally, users who are signed in may also submit a new ontology to the library. All submissions to the library are reviewed.
        </p>
        
        <h1>Web services</h1>
        <p>
            Documentation and examples of the <a href="http://www.bioontology.org/wiki/index.php/NCBO_REST_services">BioPortal 2.0 Web services.</a>
        </p>
        
        <h1>Announce List</h1>
        <p>
            To receive notices of new BioPortal releases or site outages, please subscribe 
            to the <a href="https://mailman.stanford.edu/mailman/listinfo/bioportal-announce">bioportal-announce list</a>.
        </p>
        
        <h1>Feature and Bug Trackers</h1>
    		<p>
    			NCBO maintains a feature/bug tracker and we welcome user submissions:<br/>
    			<%= link_to 'Feature Requests', "https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemBrowse&tracker_id=213" %><br/>
    			<%= link_to 'Bug Reports', "https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemBrowse&tracker_id=103" %><br/>
    		</p>
    		
    		<h1>How to Cite BioPortal</h1>
    		<p>
    		  Noy, N.F., Shah, N.H., Whetzel, P.L., Dai, B., Dorf, M., Griffith, N., Jonquet, C., Rubin, D.L., Storey, M.A., Chute, C.G., Musen, M.A. <b>BioPortal: ontologies and integrated data resources at the click of a mouse.</b> Nucleic Acids Res. 2009 Jul 1;37(Web Server issue):W170-3. PMID: 19483092. doi:10.1093/nar/gkp440
        </p>
    		
        <h1>Release Notes: BioPortal 2.5 (June 7, 2010)</h1>
        <div class="enable-lists">
      		<br>
          <h2>
            BioPortal Core (Tag 1026)
          </h2>
          <h3>
            New Features
          </h3>
          <ul type="disc">
            <li>Services for handling notes. The notes service is based on Protege 4 and OWL API and wraps around an API created by Csongor Nyulas for interacting with ChAO (Changes and Annotations Ontology). The following features were implemented:
              <ul type="circle">
                <li>Creating notes attached to:
                  <ul type="square">
                    <li>Classes
                    </li>
                    <li>Individuals
                    </li>
                    <li>Notes
                    </li>
                  </ul>
                </li>
                <li>Retrieving notes attached to:
                  <ul type="square">
                    <li>Ontologies (using virtual id)
                    </li>
                    <li>Classes
                    </li>
                    <li>Individuals
                    </li>
                    <li>Notes
                    </li>
                  </ul>
                </li>
                <li>Note types:
                  <ul type="square">
                    <li>Comment
                    </li>
                    <li>Proposal
                      <ul type="square">
                        <li>New term
                        </li>
                        <li>Relationship change
                        </li>
                        <li>Property value change
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>The two primary URLs for working with notes:
                  <ul type="square">
                    <li>/notes/{ontology_version_id}
                    </li>
                    <li>/virtual/notes/{ontology_virtual_id}
                    </li>
                  </ul>
                </li>
                <li>Documentation is being updated here:
                  <ul type="square">
                    <li>
                      <a href="http://www.bioontology.org/wiki/index.php/Ontology_Notes">http://www.bioontology.org/wiki/index.php/Ontology_Notes</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Exposed the create diffs functionality via the rest interface. Added it to the service layer as well.
            </li>
            <li>Modified code to start populating the fullId field for OBO and UMLS ontologies.
            </li>
            <li>Updated Protégé 3.4.4 libraries
            </li>
          </ul>
          <br/>
          <h3>
            Bug Fixes
          </h3>
          <ul type="disc">
            <li>Updated the UMLS loader to render French and Spanish characters correctly. Tracker item: &nbsp;[#1986] Incorrect display of characters in Spanish and French. <a href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1986">https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1986</a>
            </li>
            <li>Updated the OBO loader to properly deal with OBO_REL:part_of relations.
            </li>
            <li>[#1998] Anonymous classes not being filtered when jumping into the middle of the tree : <a href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1998">https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1998</a>
            </li>
          </ul>
          <br/></br/>
          <h2>
            BioPortal UI (Tag 1040)
          </h2>
          <h3>New Features</h3>
          <ul>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1600&amp;start=0"
          onmouseover="tooltip('Information on the BioPortal reference
          paper is at: http://www.ncbi.nlm.nih.gov/pubmed/19483092. A
          section on how to cite BioPortal should be added. For now, it
          seems the only place this can go is on the Help/About page.
          Interested for other suggestions however.<br /><br />Trish
          ');"
          onmouseout="tooltipexit()">Add info on how to cite BioPortal</a></li>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1669&amp;start=0"
          onmouseover="tooltip('It would be useful to include text on
          BioPortal page so that people know that they can register
          PURLs with purl.bioontology.org. Exact details can be
          discussed in person.<br /><br />Trish');"
          onmouseout="tooltipexit()">Request to add text on BioPortal to let
          people know about PURL server</a></li>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1747&amp;start=0"
          onmouseover="tooltip('Email from support list:<br />On the
          spatial ontology page<br
          />http://bioportal.bioontology.org/visualize/40827<br />it is
          quite annoying to fade in and out the screen when you click on
          a link. It is fun for the first time to watch but after the
          third time it is just distracting. You want to give a smooth
          transition as much as possible. <br />---------<br /><br />Is
          the fading in and out of the screen needed? Now that the
          transition from term to term is so quick this transition of
          fading out the screen is admittedl...');"
          onmouseout="tooltipexit()">Screen transition when loading terms</a></li>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=882&amp;start=0"
          onmouseover="tooltip('A user mentioned that after clicking on
          GEO nothing happened for the OBI term device. There are no
          annotations for OBI mapped to this term.<br /><br />I gather
          that it is not obvious that if there are no annotations mapped
          to the term, then there will be no action. Suggest to add a
          message after clicking on a term to remind user that there are
          no annotations so the lack of action does not look like a bug.
          Perhaps also include when the ontology was last used to
          annotate the resource or a status saying...');"
          onmouseout="tooltipexit()">Resources - message when no results</a></li>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=2042&amp;start=0"
          onmouseover="tooltip('It would be really useful if the terms
          being typed into the text box are highlighted in the words
          being displayed in the drop-down. It is difficult to see why
          certain terms are being displayed as candidate terms by the
          autocomplete.');"
          onmouseout="tooltipexit()">term-selection and Jump to widgets</a></li>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=1952&amp;start=0"
          onmouseover="tooltip('A GoogleGroup has been started for the
          NCBO Annotator,
          http://groups.google.com/group/annotator-discuss. Please add a
          link to this group on the Annotator page in BioPortal. The
          purpose of the group is for users to be able to engage in
          dialog with other users to share use cases and experiences,
          e.g. parameters, ontologies, semantic expansion, with the
          Annotator. <br /><br />Thanks,<br />Trish<br />');"
          onmouseout="tooltipexit()">Add link to NCBO Annotator Users GoogleGroup</a></li>
          <li>Tweaked the tree browser to limit the height to 650px after Trish
          pointed out that you couldn't see the details for a term if the term
          itself was deep in the tree (the Details tab and the term couldn't
          appear on the screen at the same time due to the need to scroll down to
          see the term itself)</li>
          <li>Changed the background color and font weight for the selected
          term in the tree</li>
          <li>Upped the limit on maxchildren to 2100 to account for PMA, which
          has 2072 children at the root term</li>
          </ul>
          <h3> Bug Fixes</h3>
          <ul>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=2051&amp;start=0"
          onmouseover="tooltip('-go to BRO,
          http://bioportal.bioontology.org/ontologies/42483<br />-click
          on Edit Ontology Metadata<br /><br />Although the definition
          property was set to \'desc:Definition\' it is not listed in
          the form as the value for this field and IF it is not
          re-entered is removed as the value for this field and replaced
          with the default value based on the rest call:
          http://rest.bioontology.org/bioportal/virtual/ontology/1104?email=example@example.org');"
          onmouseout="tooltipexit()">Edit ontology metadata - memory of current
          values</a></li>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=2054&amp;start=0"
          onmouseover="tooltip('-go to
          http://bioportal.bioontology.org/ontologies<br />-select
          \'Filter by category\'<br />-type \'i\' twice to highlight the
          term \'immunology\'<br />-hit return<br /><br />The list of
          ontologies is not filtered. ');"
          onmouseout="tooltipexit()">Filter by category - selection of filter
          item in Firefox</a></li>
          <li> <a
          href="https://bmir-gforge.stanford.edu/gf/project/bioportal_core/tracker/?action=TrackerItemEdit&amp;tracker_item_id=2152&amp;start=0"
          onmouseover="tooltip('Paul, when I add a new version of an rrf
          ontolgy the new screen does a great job in copying over the
          data from the previous version, but it fails to copy over the
          target terminology value (SAB) from the previous version. As a
          result, then I submit the new version, the target terminology
          value isn\'t set.<br /><br />I just added a new version of
          SNOMEDCT. The ontology version id is 42789, but wouldn\'t set
          its target terminology value to SNOMEDCT.<br /><br />I have
          the same problem when trying to edit the ontol...');"
          onmouseout="tooltipexit()">No field to specify the SAB when adding new
          version of an ontology</a></li>
          <li>Force the autocomplete drop-down background to be white on all
          browsers</li>
          <li>After views-related operations, the user should get redirected to
          the views list</li>
          </ul>
          <br/></br/>
          <h2>
            BioPortal Admin (Tag 1006)
          </h2>
          <h3>
            New Features
          </h3>
          <ul>
            <li>Implemented the diff creation functionality
            </li>
          </ul>
            </div>
         </div>
          <div style="clear:both;">
    </div>
</div>
